import java.time.*
Date now = new Date()

process.cache = "lenient"

params {
    day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
    tracedir = "pipeline-info"
    debug = false
    help = false

    // General parameters
    species = null
    release = null
    skip_delly = false
    skip_postprocessing = false
    skip_pca = false
    skip_haplotypes = false
    skip_imputation = false
    skip_tree = false

    // Shared parameters
    isotype_groups = null
    isotype_vcf = null

    // Haplotype parameters
    binsize = 1000

    // Imputation parameters
    map_dir = null
    window = 5
    overlap = 2

    // PCA and Imputation parameters
    snv_vcf = null

    // PCA parameters
    ld_range = "0.8"
    outlier_iterations = "5"
    singletons = false

    // Postprocessing and Tree parameters
    hard_vcf = null
    soft_vcf = null

    // Delly parameters
    reference = null
    bam_dir = null
    ref_strain = null
    minsize = 50
    maxsize = 1000

    // 
}

outputDir = "CaeNDRprep_${params.day}"

profiles {
    standard { includeConfig 'conf/rockfish.config' }
    rockfish { includeConfig 'conf/rockfish.config' }
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}
