/*
    Rockfish Configuration
*/

process {
    executor = 'slurm'
    queueSize = 100

    //
    // Postprocessing
    //
    withLabel: 'bcftools_extract_isotypes' {
        container = "docker://andersenlab/hetpolarization:1.10"
        clusterOptions = '-A eande106 -t 24:00:00 -e errlog.txt -N 1'
        cpus = 3
        memory = "12G"
    }

    withLabel: 'bcftools_strip_nongenotypes' {
        container = "docker://andersenlab/hetpolarization:1.10"
        clusterOptions = '-A eande106 -t 12:00:00 -e errlog.txt -N 1'
        cpus = 3
        memory = "12G"
    }

    withLabel: 'bcftools_snv_only' {
        container = "docker://andersenlab/hetpolarization:1.10"
        clusterOptions = '-A eande106 -t 12:00:00 -e errlog.txt -N 1'
        cpus = 3
        memory = "12G"
    }

    withLabel: 'bcftools_extract_sample' {
        container = "docker://andersenlab/hetpolarization:1.10"
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1'
        cpus = 1
        memory = "4G"
        array = 100
    }

    //
    // Haplotypes
    //
    withLabel: 'local_get_contig_info' {
        executor = "local"
        container = null
    }

    withLabel: 'java_haplotype_sweep_ibd' {
        container = "docker://eclipse-temurin:23.0.2_7-jre-alpine-3.21"
        clusterOptions = '-A eande106 -t 6:00:00 -e errlog.txt -N 1'
        cpus = 3
        memory = "12G"
        array = 10
    }

    withLabel: 'r_plot_haplotype' {
        container = "docker://andersenlab/r_packages:latest"
        clusterOptions = '-A eande106 -t 4:00:00 -e errlog.txt -N 1'
        cpus = 3
        memory = "12G"
    }

    withLabel: 'bcftools_variant_coverage' {
        container = "docker://andersenlab/hetpolarization:1.10"
        clusterOptions = '-A eande106 -t 4:00:00 -e errlog.txt -N 1'
        cpus = 1
        memory = "4G"
        array=100
    }

    withLabel: 'r_divergent_regions' {
        container = "docker://andersenlab/r_packages:latest"
        clusterOptions = '-A eande106 -t 4:00:00 -e errlog.txt -N 1'
        cpus = 2
        memory = "8G"
    }

    //
    // Make tree
    //
    withLabel: 'bioconvert_vcf_to_stockholm' {
        container = "docker://bioconvert/bioconvert:0.6.1"
        clusterOptions = '-A eande106 -t 1:00:00 -e errlog.txt -N 1'
        cpus = 1
        memory = "4G"
    }

    withLabel: 'quicktree_make_tree' {
        container = "docker://andersenlab/tree:2022030116023027c1b8"
        clusterOptions = '-A eande106 -t 1:00:00 -e errlog.txt -N 1'
        cpus = 1
        memory = "4G"
    }
    
    withLabel: 'r_plot_tree' {
        container = "docker://andersenlab/r_packages:latest"
        clusterOptions = '-A eande106 -t 1:00:00 -e errlog.txt -N 1'
        cpus = 1
        memory = "4G"
    }

    //
    // Imputation
    //
    withLabel: 'beagle_imputation' {
        container = "docker://andersenlab/beagle:20250305"
        clusterOptions = '-A eande106 -t 4:00:00 -e errlog.txt -N 1'
        cpus = 3
        memory = "12G"
    }

    withLabel: 'bcftools_concat_imputed' {
        container = "docker://quay.io/biocontainers/bcftools:1.16--hfe4b78e_1"
        clusterOptions = '-A eande106 -t 4:00:00 -e errlog.txt -N 1'
        cpus = 3
        memory = "12G"
    }

    //
    // PCA
    //
    withLabel: 'bcftools_filter_missing_genotypes' {
        container = "docker://quay.io/biocontainers/bcftools:1.16--hfe4b78e_1"
        clusterOptions = '-A eande106 -t 4:00:00 -e errlog.txt -N 1'
        cpus = 2
        memory = "8G"
    }

    withLabel: 'vcftools_get_singletons' {
        container = "docker://biocontainers/vcftools:v0.1.16-1-deb_cv1"
        clusterOptions = '-A eande106 -t 4:00:00 -e errlog.txt -N 1'
        cpus = 1
        memory = "4G"
    }

    withLabel: 'bcftools_ce_norm' {
        container = "docker://quay.io/biocontainers/bcftools:1.16--hfe4b78e_1"
        clusterOptions = '-A eande106 -t 4:00:00 -e errlog.txt -N 1'
        cpus = 1
        memory = "4G"
    }

    withLabel: 'plink_make_eigenstrat' {
        container = "docker://biocontainers/plink:v1.07dfsg-2-deb_cv1"
        clusterOptions = '-A eande106 -t 4:00:00 -e errlog.txt -N 1'
        cpus = 1
        memory = "4G"
    }

    withLabel: 'bcftools_prep_eigenstrat' {
        container = "docker://quay.io/biocontainers/bcftools:1.16--hfe4b78e_1"
        clusterOptions = '-A eande106 -t 4:00:00 -e errlog.txt -N 1'
        cpus = 1
        memory = "4G"
    }

    withLabel: 'smartpca_eigenstart_with_outliers' {
        container = "docker://quay.io/biocontainers/eigensoft:8.0.0--h75d7a4a_6"
        clusterOptions = '-A eande106 -t 12:00:00 -e errlog.txt -N 1'
        cpus = 3
        memory = "12G"
    }

    withLabel: 'smartpca_eigenstart_without_outliers' {
        container = "docker://quay.io/biocontainers/eigensoft:8.0.0--h75d7a4a_6"
        clusterOptions = '-A eande106 -t 12:00:00 -e errlog.txt -N 1'
        cpus = 3
        memory = "12G"
    }



    //
    // Delly Indels
    //
    withLabel: 'delly_call_indels' {
        container = "docker://dellytools/delly:v1.2.6"
        clusterOptions = '-A eande106 -t 4:00:00 -e errlog.txt -N 1'
        cpus = 1
        memory = "4G"
        array = 100
    }

    withLabel: 'delly_filter_indels' {
        container = "docker://dellytools/delly:v1.2.6"
        clusterOptions = '-A eande106 -t 4:00:00 -e errlog.txt -N 1'
        cpus = 1
        memory = "4G"
        array = 100
    }

    withLabel: 'bcftools_bcf_to_vcf' {
        container = "docker://quay.io/biocontainers/eigensoft:8.0.0--h75d7a4a_6"
        clusterOptions = '-A eande106 -t 4:00:00 -e errlog.txt -N 1'
        cpus = 1
        memory = "4G"
        array = 100
    }

}

executor {
    queueSize=100
    submitRateLimit=10
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${params.baseDir}/singularity"
}

workflow {
    workDir = "/scratch4/eande106"
}

params {
    baseDir = '/vast/eande106'
    workDir = '/vast/eande106/work'
    dataDir = '/vast/eande106/data'
    softwareDir = '/data/eande106/software'

    genomes {
        "c_elegans" {
            fasta           = "${params.dataDir}/c_elegans/genomes/PRJNA13758/WS283/c_elegans.PRJNA13758.WS283.genome.fa.gz"
            fasta_index     = "${params.dataDir}/c_elegans/genomes/PRJNA13758/WS283/c_elegans.PRJNA13758.WS283.genome.fa.gz.fai"
            bam_dir         = "${params.dataDir}/c_elegans/WI/alignments"
            variation_dir   = "${params.dataDir}/c_elegans/WI/variation"
            concordance_dir = "${params.dataDir}/c_elegans/WI/concordance"
            ref_strain      = "N2"
        }
        "c_briggsae" {
            fasta           = "${params.dataDir}/c_briggsae/genomes/QX1410_nanopore/Feb2020/c_briggsae.QX1410_nanopore.Feb2020.genome.fa.gz"
            fasta_index     = "${params.dataDir}/c_briggsae/genomes/QX1410_nanopore/Feb2020/c_briggsae.QX1410_nanopore.Feb2020.genome.fa.gz.fai"
            bam_dir         = "${params.dataDir}/c_briggsae/WI/alignments"
            variation_dir   = "${params.dataDir}/c_briggsae/WI/variation"
            concordance_dir = "${params.dataDir}/c_briggsae/WI/concordance"
            ref_strain      = "QX1410"
        }
        "c_tropicalis" {
            fasta           = "${params.dataDir}/c_tropicalis/genomes/NIC58_nanopore/June2021/c_tropicalis.NIC58_nanopore.June2021.genome.fa.gz"
            fasta_index     = "${params.dataDir}/c_tropicalis/genomes/NIC58_nanopore/June2021/c_tropicalis.NIC58_nanopore.June2021.genome.fa.gz.fai"
            bam_dir         = "${params.dataDir}/c_tropicalis/WI/alignments"
            variation_dir   = "${params.dataDir}/c_tropicalis/WI/variation"
            concordance_dir = "${params.dataDir}/c_tropicalis/WI/concordance"
            ref_strain      = "NIC58"
        }
    }
}

